body{
    font-family: serif;
    background-color: aliceblue;
    color: #304080;
}
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #c6f1ff;
}
h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
button{
    background-color: white;
    transition-duration: 0.4s;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button:hover{
    background-color: #c6f1ff;
}

#lgtThemeBtn:hover{
    background-color: white;
}

#drkThemeBtn:hover{
    background-color: #0d0d20;
    color: #edfaff;
}

#resetBtn{
    background-color: crimson;
    color: white;
    font-size: 25px;
}

#resetBtn:hover{
    background-color: white;
    color: crimson;
}

.feedback{
    color: crimson;
}

.fadeInText{
    opacity: 1;
    animation-name: fadeInText;
    animation-duration: 500ms;
}

@keyframes fadeInText{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.image{
    width: 100px;
    float: left;
    clear: left;
    padding: 10px;
}